In [1]:
import pandas as pd
from tornado.gen import multi

In [2]:
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv('yellow_tripdata.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_tripdata" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [4]:
from sqlalchemy import create_engine
import time

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',
                      iterator=True,
                      chunksize=100000,
                      parse_dates = ['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                      dtype={'store_and_fwd_flag' : str})
print("Starting iterator 1")
try:
    start_time = time.time()
    first_chunk = next(df_iter)
    first_chunk.to_sql(name='yellow_taxi_data',
                       con=engine,
                       if_exists='replace',
                       index=False)
    end_time = time.time()
    print("Iterator 1 took {} seconds".format(end_time - start_time))

    chunk_num = 2
    while True:
        try:
            loop_start_time = time.time()
            chunk = next(df_iter)
            chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False, method='multi')
            loop_end_time = time.time()
            print(f"Iterator {chunk_num} took: {loop_end_time - loop_start_time} seconds")
            chunk_num += 1
        except StopIteration:
            print("Uploading data complete")
            break
        except Exception as e:
            print(f"Error when uploading chunk: {chunk_num}: {e}")
            break
except StopIteration:
    print("File empty or don't have data")
except Exception as e:
    print(f"Exception occured: {e}")

Starting iterator 1
Iterator 1 took 7.988480806350708 seconds
Iterator 2 took: 34.483290672302246 seconds
Iterator 3 took: 34.35713720321655 seconds
Iterator 4 took: 34.422264099121094 seconds
Iterator 5 took: 35.95949339866638 seconds
Iterator 6 took: 35.25566840171814 seconds
Iterator 7 took: 33.90965962409973 seconds

/tmp/ipykernel_7902/2333331663.py:21: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  chunk = next(df_iter)

Iterator 8 took: 34.72744607925415 seconds
Iterator 9 took: 35.381734132766724 seconds
Iterator 10 took: 36.20654106140137 seconds
Iterator 11 took: 34.49663996696472 seconds
Iterator 12 took: 34.05088996887207 seconds
Iterator 13 took: 34.66002583503723 seconds
Iterator 14 took: 22.499975204467773 seconds
Uploading data complete

In [6]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace', index=False)

265